.logo {
  align-self: flex-start;
}

section {
  display: flex;
  justify-content: center;
  font-family: "Rubik", sans-serif;
  width: 50%;
  margin: 100px auto;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

.form {
  display: flex;
  flex-direction: column;
  width: 80%;
  color: #949494;
  font-size: 14px;
}

h1 {
  font-size: 22px;
  margin-bottom: 15px;
  color: #757272;
}

.form label {
  padding: 20px 0 6px;
}

.form input {
  padding: 0 5px;
  height: 50px;
  border-radius: 5px;
  border: 1px solid #c9c9c9;
  outline: none;
  font-size: 18px;
  color: grey;
}

.buttons {
  padding: 40px 0 100px 0;
  width: 100%;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}

button {
  width: 45%;
  height: 48px;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
  color: white;
  background-color: #c9c9c9;
  font-size: 18px;
}

button:hover {
  opacity: 74%;
}

button:first-child {
  background-color: #f87777;
}

@media screen and (max-width: 1024px) {
  .container {
    width: 93%;
  }
  .buttons {
    flex-direction: column;
    padding: 40px 0;
  }

  button {
    width: 100%;
    margin: 10px 0;
    height: 43px;
  }

  .form input {
    height: 45px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 100%;
  }
  .logo {
    margin-left: 20px;
  }

  section {
    width: 70%;
  }
}

@media screen and (max-width: 425px) {
  section {
    width: 80%;
  }
}
